* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    background: #ffffff;
}

:root {
    --color-primary: #EE5F49;
    --color-primary-dark: #26305A;
    --color-text: #111;
    --color-muted: #00000080;
    --color-border: #DFDFDF;
    --color-bg-input: #F9F9F9;
}

.auth-wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    text-align: right;
    padding: 24px 16px 0 0;
    margin-bottom: 100px;
}

.header__reg-btn--teacher {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary-dark);
    background: transparent;
    border: 1px solid var(--color-border);
    padding: 14px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.auth {
    margin: auto;
    width: 400px;
    text-align: center;
}

.auth__logo {
    width: 260px;
    margin-bottom: 48px;
}

.auth__google-btn {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--color-border);
    border-radius: 10px;

    background: #fff;
    font-weight: 600;
    cursor: pointer;

    margin-bottom: 24px;
}

.auth__separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    color: var(--color-muted);
    margin-bottom: 24px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form__field {
    text-align: left;
    position: relative;
}

.auth-form__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.auth-form__input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    background: var(--color-bg-input);
    font-size: 14px;
}

.auth-form__field--password {
    position: relative;
}

.auth-form__eye-btn {
    position: absolute;
    right: 14px;
    bottom: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.auth-form__terms {
    font-size: 12px;
    color: var(--color-muted);
    line-height: 1.4;
}

.auth-form__link {
    color: var(--color-primary-dark);
}

.auth-form__cta {
    width: 100%;
    padding: 14px 0;
    border: none;
    border-top: 1.5px solid #111;
    border-left: 1.5px solid #111;
    border-right: 1.5px solid #111;
    border-radius: 10px;
    background: var(--color-primary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: 0px 4px 1px 0px #343B6E;
}

.auth-form__cta:hover {
    background-color: #da442d;
}

.auth-form__login {
    font-size: 14px;
    color: var(--color-muted);
    margin-top: 8px;
}

.auth-form__login-link {
    color: var(--color-primary-dark);
    font-weight: 600;
}

aside {
    width: 260px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-right: 1px solid #DFDFDF;
}

.aside__btns {
    height: 666px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.add-wrapper {
    border-radius: 10px;
    padding: 16px 12px;
    background: linear-gradient(236.03deg, rgba(227, 92, 255, 0.1) 8.94%, rgba(51, 135, 255, 0.1) 51.01%, rgba(37, 236, 119, 0.1) 97.51%)
}

.add__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #343B6E;
}

.add__text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #707070;
}

.add__link {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 12px;
    border: none;
    border-top: 1.5px solid #111;
    border-left: 1.5px solid #111;
    border-right: 1.5px solid #111;
    border-radius: 10px;
    background: var(--color-primary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: 0px 4px 1px 0px #343B6E;
    text-decoration: none;
}

main {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 40px;

}

.aside__link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    text-align: left;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #707070;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
}

.aside__link i {
    font-size: 25px;
}

.aside__link:hover,
.aside__link-active {
    border: 2px solid #FFD372;
    background-color: #FFFADD;
    color: #343B6E;
}

.home__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.home__header-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #343B6E;
    background-color: transparent;
    padding: 14px 16px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
}

.home__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.home__info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 48px;
}

.home__info-card-num {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 16px;
}

.home__info-card-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #707070;
    margin-top: 10px;
}

.home__category {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.home__category-card {
    position: relative;
    border: 4px solid #DFDFDF;
    box-shadow: 0px 8px 0px 0px #DFDFDF;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
}

.home__category-card:hover {
    border: 4px solid #FFD372;
    ;
    background-color: #FFFADD;
}

.img-cloud {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.home__category-card-text {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #343B6E;
    margin-left: 24px;
    margin-top: 88px;
}

.home__category-card-img {
    position: absolute;
    right: 60px;
    bottom: 20px;
}