* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body {
    display: flex;
    width: 100%;
    background: #ffffff;
}

:root {
    --color-primary: #EE5F49;
    --color-primary-dark: #26305A;
    --color-text: #111;
    --color-muted: #00000080;
    --color-border: #DFDFDF;
    --color-bg-input: #F9F9F9;
}

.header {
    text-align: right;
    padding: 24px 16px 0 0;
}

.header__reg-btn--teacher {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary-dark);
    background: transparent;
    border: 1px solid var(--color-border);
    padding: 14px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.auth {
    margin: auto;
    width: 400px;
    text-align: center;
}

.auth__logo {
    width: 260px;
    margin-bottom: 48px;
}

.auth__google-btn {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--color-border);
    border-radius: 10px;

    background: #fff;
    font-weight: 600;
    cursor: pointer;

    margin-bottom: 24px;
}

.auth__separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    color: var(--color-muted);
    margin-bottom: 24px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form__field {
    text-align: left;
    position: relative;
}

.auth-form__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.auth-form__input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    background: var(--color-bg-input);
    font-size: 14px;
}

.auth-form__field--password {
    position: relative;
}

.auth-form__eye-btn {
    position: absolute;
    right: 14px;
    bottom: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.auth-form__terms {
    font-size: 12px;
    color: var(--color-muted);
    line-height: 1.4;
}

.auth-form__link {
    color: var(--color-primary-dark);
}

.auth-form__cta {
    width: 100%;
    padding: 14px 0;
    border: none;
    border-top: 1.5px solid #111;
    border-left: 1.5px solid #111;
    border-right: 1.5px solid #111;
    border-radius: 10px;
    background: var(--color-primary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: 0px 4px 1px 0px #343B6E;
}

.auth-form__cta:hover {
    background-color: #da442d;
}

.auth-form__login {
    font-size: 14px;
    color: var(--color-muted);
    margin-top: 8px;
}

.auth-form__login-link {
    color: var(--color-primary-dark);
    font-weight: 600;
}